# Data ScienceProject: PREDICTING AVOCADO PRICES USING FACEBOOK PROPHET and plot Graph

In [1]:
# import libraries 
import pandas as pd
import matplotlib.pyplot as plt
from fbprophet import Prophet # Prophet used for forcasting and planning 
import ipywidgets as widgets
from ipywidgets import interactive

In [8]:
# dataframes creation for both training and testing datasets 
avocado_df = pd.read_csv("https://drive.google.com/file/d/1zqYGuUQl6iTMECEKdHgZuRW_dDRgejJD/view?usp=sharing")

ParserError: Error tokenizing data. C error: Expected 276 fields in line 131, saw 423

In [3]:
# Let's view the head of the training dataset
print('The given data set ')
avocado_df.head()

The given data set

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
avocado_df = avocado_df.sort_values("Date")

In [5]:
#PREPARE THE DATA BEFORE APPLYING FACEBOOK PROPHET TOOL
avocado_prophet_df = avocado_df[['Date', 'AveragePrice']] 
avocado_prophet_df = avocado_prophet_df.rename(columns={'Date':'ds', 'AveragePrice':'y'})

In [6]:
btn = widgets.Button(description='View predicted sales')
display(btn)
def btn_eventhandler(obj):
    widgets.Text(value='Displaying ', disabled=True)
    m = Prophet(weekly_seasonality=True,daily_seasonality=True)
    m.fit(avocado_prophet_df)
    future = m.make_future_dataframe(periods=365)
    forecast = m.predict(future)
    figure = m.plot(forecast, xlabel='Date', ylabel='Price')
    plt.title("Predicted in sales in all Regions")
btn.on_click(btn_eventhandler)

Button(description='View predicted sales', style=ButtonStyle())

In [7]:
avocado_df1 = pd.read_csv('C:\\Users\\UII\\avocado.csv')

def selectRegion(Region):
    avocado_df_sample = avocado_df1[avocado_df1['region']==Region]
    avocado_df_sample = avocado_df_sample.rename(columns={'Date':'ds', 'AveragePrice':'y'})
    m = Prophet(daily_seasonality=True, weekly_seasonality=True)
    m.fit(avocado_df_sample)
    # Forcasting into the future
    future = m.make_future_dataframe(periods=365)
    forecast = m.predict(future)
    figure = m.plot(forecast, xlabel='Date', ylabel='Price')
    plt.title("Predicted in sales in: "+Region)
reg=[ 'Albany', 'Atlanta', 'BaltimoreWashington','Boise','BuffaloRochester','California','Charlotte','Chicago','CincinnatiDayton','Columbus','DallasFtWorth','Denve','Detroit','GrandRapids','GreatLakes','HarrisburgScranton','HartfordSpringfield','Houston','Indianapolis','Jacksonville','LasVegas','LosAngeles','Louisville','MiamiFtLauderdale','Midsouth','Nashville','NewOrleansMobile','NewYork','Northeast','NorthernNewEngland','Orlando','Philadelphia','PhoenixTucson','Pittsburgh','Plains','Portland','RaleighGreensboro','RichmondNorfolk','Roanoke','Sacramento','SanDiego','SanFrancisco','Seattle','SouthCarolina','SouthCentral','Southeast','Spokane','StLouis','Syracuse','Tampa','TotalUS','West','WestTexNewMexico']         
interactive(selectRegion,Region=reg)

interactive(children=(Dropdown(description='Region', options=('Albany', 'Atlanta', 'BaltimoreWashington', 'Boiâ€¦